<h1>Add Your TODO</h1>

<form [formGroup]="form" (ngSubmit)="submitTODO()">
  <table>
    <tr>
      <td>Title: </td>
      <td><input type="text" formControlName="title"></td>
    </tr>
    <tr>
      <td>Task Description: </td>
      <td><textarea name="" id="" cols="30" rows="10"  formControlName="taskDescription"></textarea></td>
    </tr>
    <tr>
      <td>Priority</td>
      <td>
        <select id="priority" formControlName="priority">
          <option value="low">Low</option>
          <option value="med">Medium</option>
          <option value="high">High </option>
        </select>
      </td>
    </tr>
  </table>
  <div>
    <button type="submit">ADD</button>
    <button type="button" [routerLink]="['/']">BACK</button>
  </div>
</form>
<hr>
